<p>
  <strong>by </strong>
  <%= comment.commenter %>
  <strong> at </strong>
  <%= comment.created_at %>
</p>
 
<p>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>